# LLM Provider API 模式（默认）
# LLM_API_MODE=local
LLM_API_MODE=remote


# local模式下，使用ollama作为llm服务
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=llama3.1

# 远程模式下，使用远程的llm服务
REMOTE_LLM_API_URL=https://api.chatanywhere.tech/v1/chat/completions
REMOTE_LLM_API_KEY=sk-xxxx
REMOTE_LLM_MODEL=gpt-4o